/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", helvetica,
    sans-serif;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  width: min(800px, 95vw);
  margin: 0 auto;
}

.loggedOut{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header{
  justify-content: space-between;
}

.header .link{
  text-decoration: none;
  color: unset;
}

.right{
  gap: 10px;
}

.user {
  gap: 5px
}

.user .image{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.flexAlign{
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.8em;
  font-weight: 500;
}

.badge {
  text-align: center;
  margin-bottom: 16px;
}
.badge span {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  font-size: 0.75em;
}

.gameTiles {
  margin: 8px 0;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

.gameTile {
  gap: 5px;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
  text-decoration: none;
  color: unset;
}

input[type="submit"],
button {
  cursor: pointer;
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  background-color: #9b65a5;
}

input[type="submit"]:hover,
button:hover {
  background-color: #684270;
}
